html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

/* Styles for the cards */
.cards-grid {
    background: linear-gradient(141deg, #108dc7 0%, #00b4db 51%, #8a8bce 75%);
    padding: 75px;
    margin: 30px 0;
}

/* entire container, keeps perspective */
.card {
    perspective: 1000px;
    margin: 10px auto;
}
.card, .front, .back {
    width: 150px;
    height: 150px;
}

/* hide back of card during swap */
.front, .back {
    backface-visibility: hidden;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

/* front card, placed above back */
.front {
    z-index: 2;
    background: #2a3d4a;
    transform: rotateY(0deg);
}

/* back, initially hidden card */
.back {
    background: #89cff0;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
}

/* flip the card when open it */
.card.open .flipper {
    transform: rotateY(180deg);
}

.card.match .back {
    background: #00d0ba;
}

.card.mismatch .back {
    background: #f77171;
}
/* flip speed goes here */
.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
/* Styles for the Score Panel */

 .score-panel {
    text-align: center;
    margin-bottom: 10px;
}

.stars {
    margin: 0 10px;
    padding: 0;
    display: inline-block;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    margin: 0 10px;
    cursor: pointer;
}

.modal-hint {
    font-size: 16px;
}
/* Responsive Sizes of Cards */
@media screen and (max-width: 991px) {
    .cards-grid {  
        padding: 20px;
    }
}

@media screen and (max-width: 700px) {
    .cards-grid {  
        padding: 20px;
    }
    .card, .front, .back {
        width: 115px;
        height: 115px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 600px) {
    .card, .front, .back {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 550px) {
    .card, .front, .back {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width: 500px) {
    .card, .front, .back {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 450px) {
    .card, .front, .back {
        width: 65px;
        height: 65px;
    }
}

@media screen and (max-width: 400px) {
    .card, .front, .back {
        width: 55px;
        height: 55px;
    }
}

@media screen and (max-width: 350px) {
    .card, .front, .back {
        width: 45px;
        height: 45px;
    }
}

@media screen and (max-width: 300px) {
    .card, .front, .back {
        width: 35px;
        height: 35px;
    }
}